.CountryBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(157, 186, 208, 0.73);
  border: 2px solid black;
  border-radius: 20px;
  margin: 2vh;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
}
