.Results {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}

.SingleResult {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 0;
  width: 100%;
}

.SingleResult:hover {
  cursor: pointer;
  color: lightblue;
  background-color: black;
  width: 100%;
}
