.CountryInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: calc(100vh - 66px);
  width: calc(100% - 34px);
  margin-top: 23px;
  font-size: 25px;
}

.CountryInfoHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-weight: bold;
}

.CountryInfoHeaderName {
}

.CountryInfoHeaderName > img {
  padding-right: 5px;
  padding-bottom: 4px;
}

.CountryInfoHeaderButton {
  display: block;
  padding: 5px;
  border-radius: 50%;
}

.CountryInfoHeaderButton:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.8);
}

.CountryInfoDetails {
  font-size: 18px;
  text-align: start;
}

.CountryInfoDetails > div {
  padding: 2px 5px;
}

.CountryInfoDetails > div > span {
  font-weight: bold;
  font-size: 16px;
}

.CountryInfoButtons {
  margin-top: auto;
  margin-bottom: 17px;
  width: 100%;
}
